<div class='container'>
  <div class='column span-6'>
  </div>
  <div class='column span-4'>
  	logo
  </div>
  <div class='column last span-14'>
  </div>
</div>
<div class='container'>
  <div class='column span-6'>
  </div>
  <div class='column span-4'>
  	sidebar
  </div>
  <div class='column span-1'>
  </div>
  <div class='column span-7'>
  	main
  </div>
  <div class='column last span-6'>
  </div>
</div>
<div class='container'>
</div> 